body{
    background-image: url('/images/background/main_page_bg.jpg') ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100vw;
}

.main-menu-links{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 32px;
    margin-left: 12px;
}

.main-menu-link{
    color: brown;
    font-size: 28px;
    text-decoration: none;
    margin: 8px 4px;
}

.social-block{
    margin-top: 32px;
    margin-left: 12px;
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 8px;
}

.social-icon {
    width: 32px;
}

.social-text{
    color: brown;
    font-size: 22px;
}

.change-block {
    display: flex;
    width: 95%;
    justify-content: flex-end;
}

.change-text{
    color: brown;
    font-size: 22px;
    margin-right: 8px;
}

.change-icon{
    width: 32px;
}

.page-content {
    padding: 12px;
}


.plug-wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-left: 250px;
}

.plug-wallet-text{
    color: brown;
    font-size: 18px;
    margin-bottom: 8px;
}
